@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family:  sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* background: #f8f8f6; */
    line-height: 2.2;
    font-size: 0.875rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #1C1678;
}

i {
    font-size: 3rem;
    color: #1e8cfa;
}

nav {
    background: rgb(111, 36, 36);
    box-shadow: 0 5px 15px #634b01;
}

.nav-main {
    max-width: 95%;
    margin: 0.2rem 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu {
    height: auto;
    display: flex;
}

ul {
    list-style-type: none;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    padding: 15px;
}

.menu a {
    color: white;
    
    font-size: 1rem;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0;
    margin: 0 0.5rem;
    transition: all 0.3s linear;
}

.menu a:hover {
    background: rgb(85, 3, 3);
    color: whitesmoke;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #ffffff;
  }

.welcome-msg {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.banner-div {
    margin-top: .7rem;
}

#banner1 {
    height: 400px;
    width: 100%;
}